/*GLOBAL*/
body{
    background: lightgray;
}
#wrapper{
    margin: auto;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*    background: blue;*/
}


/*HEADER*/
#headcontainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.spacer{
    flex-basis: 400px;
}
#header{
    width: 600px;
    border: 26px outset gray;
}
h1{
    text-align: center;
    font-size: 3em;
}
form{
    text-align: center;
}
input{
    text-align: center;
    max-width: 200px;
}




#myLineChart{
    border: 26px inset gray;
    display: none;
    margin-top: 30px;
    max-width: 1000px;
}